@{
    ViewData["Title"] = "About Us";
}

<div class="text-container">
    <p>SportsPro offers a wide variety of features which can be used to <b>create, update(edit) , delete and view certain information regarding the pages</b></p> 
        <hr>
        <ul>Following pages can be used to perfom the actions mentioned above:</ul> 
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="IncidentPages" asp-action="Index">Incident Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagers" asp-action="Index">Products Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TechManagers" asp-action="Index">Technician Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CustomerManagers" asp-action="Index">Customer Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
                        </li>
                    </ul>
                </div>
        </ul>
    </p>
</div>
  
