@{
    ViewData["Title"] = "Home Page";
}

<div class="text-container">
    <h1 class="display-3">Welcome to SportsPro </h1>
    <hr>
    <h4 align="left">Hello,Welcome to our page.
        Enjoy your time and hope you visit us again</h4>
</div>

