@{
    ViewData["Title"] = "Home Page";
}

<div class="text-container">
    <h1 class="display-3">Welcome to SportsPro </h1>
    <hr>
    <h4 align="left">Hello,Welcome to our page.
        Enjoy your time and hope you visit us again</h4>
     
     <img src="images.jfif" alt="Sports item"/>
     <img src="download.jfif" alt="Sports item 1"/>
     <img src="download(1).jfif" alt="Sports item"/>

    <p><q>Always work hard, never give up, and fight until the end because it’s never really over until the whistle blows. <cite>Alex Morgan</cite></q></p>
</div>

